# App
NODE_ENV=development
PORT=3000

# MongoDB
MONGO_USER=admin
MONGO_PASS=secret
MONGO_DB=task_manager
MONGO_URI=mongodb://admin:secret@localhost:27017/task_manager?authSource=admin

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_pass=secret

# JWT
JWT_SECRET=muitosegredopraninguemver
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=outrosegredomuitogrande
JWT_REFRESH_EXPIRES_IN=7d

# Cookie
COOKIE_SECRET=cookieécomidapo

# Mail
MAIL_HOST=smtp.example.com
MAIL_PORT=587
MAIL_USER=no-reply@example.com
MAIL_PASS=senha_smtp
MAIL_FROM="Task Manager <no-reply@example.com>"